src/usr/local/KoboNextcloudSync/kobocloudrc.tmpl
Pruts/test_credentials.sh
Pruts/test_list.sh
src/usr/local/.DS_Store
**/.DS_Store
**/KoboFolder
.vscode/launch.json
src/mnt/onboard/.adds/kobocloudsync/rclone.config
data
src/mnt/onboard/.adds/kobocloudsync/opt/RemoteFilelist
