
# Remove the # from the following line to uninstall KoboCloud
#UNINSTALL
# Remove the # from the following line to delete files when they are no longer on the remote server
#REMOVE_DELETED

# URL's to syncronize. Use the following format, separated by comma:
# Destination Folder, URL,                                Passwod (optional)
# KoboCloudSync,      https://cloud.mycloud.com/MyEbooks, df23fdljkj