# example fro rclone.config
# syncing a nextcloud share with share link: https://example.com/s/kFy9Lek5sm928xP
# the user name is the last string of the share link

[KoboSync]
type = webdav
url = https://example.com/public.php/webdav
vendor = nextcloud
user = kFy9Lek5sm928xP
pass = <<your password>>
